<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Friend Manager</title>
    <link rel="stylesheet" href="/stylesheets/friend.css">
</head>
<body>
    <header>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/message">Messages</a></li>
            <li><a href="/community/page">Community</a></li>
            <li>
                <div class="friends">
                    <div class="search-friends">
                        <input type="text" id="friend-search" placeholder="Search friends..." />
                        <button type="button" onclick="searchFriends()">Search</button>
                    </div>
                    
                </div>
            </li>
        </ul>
    </header>

    <div class="section" style="display: flex;">
        <div id="slide-1">
            <h1>Your Friend</h1>
            <div class="friend-info"></div>
        </div>
        <div class="slide-2">
            <h1 class="page-title">Friend Requests</h1>
            <% if (Array.isArray(friends) && friends.length > 0) { %>
                <ul class="friend-list">
                    <% friends.forEach(friend => { %>
                        <li class="friend-item">
                            <p>Friend: <%= friend.Sender.username %> - Status: <%= friend.Status %></p>
                            <% if (friend.Status === 'Pending') { %>
                                <button class="accept-btn" onclick="Accept('<%= friend.Sender._id %>')">Accept</button>
                            <% } %>
                        </li>
                    <% }); %>
                </ul>
            <% } else { %>
                <p>No friend requests at the moment.</p>
            <% } %>
        </div>
        <div id="slide-3">
            <h1 class="page-title">Search: </h1>
            <div id="search-results"></div>
        </div>
    </div>
    <footer>
        <p>&copy; 2024 - 2 Friend - Friend Manager</p>
    </footer>
    <script src="/javascripts/friend.js"></script>
</body>
</html>
