/* src/App.css */
/* src/App.css */

/* src/App.css */

.App {
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  min-height: 100vh;
}

main {
  padding: 20px;
}

h2 {
  color: #333;
}

/* src/App.css */
.video-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  justify-content: center;
}

.video-item {
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.video-item h3 {
  margin-top: 0;
}

.video-item p {
  font-size: 14px;
  color: #666;
}

header {
  padding: 20px 0%;
}

footer {
  padding: 10px 0%;
  width: 100%;
  bottom: 0;
}

p {
  font-size: 18px;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
